<mat-card fxLayoutGap>

    <h1 mat-dialog-title><span style="color: red">Borrando</span>{{data.title}}</h1>

    <h3 display-2>{{data.message}}</h3>

    <div *ngIf="data.files">
        <ul>
            <li *ngFor="let file of data.files">
                <span>{{file}}</span>
            </li>
        </ul>
    </div>


    <div mat-dialog-actions>
        <button mat-button (click)="onDismiss()">Cancelar</button>
        <button mat-raised-button color="warn" (click)="onConfirm()">Borrar</button>
    </div>
</mat-card>