:host {
    display: grid;
    place-content: center;
    background-image: url(../../../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 89vh;
}

.container {
    padding: 5rem;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.mat-column-id {
    text-align: center;
    width: 5%;
}

.mat-column-id {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mat-column-username {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mat-column-fechaAlta {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mat-column-accion {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    width: 20rem;
}

.mat-column-accion2 {
    width: 20rem;
}

.mat-column-rol {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: center;
}

.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;

    mat-spinner {
        top: 30%;
        left: 50%;
    }
}