<div class="container">
    <mat-grid-list cols="4" rowHeight="80vh" gutterSize="1rem">
        <mat-grid-tile colspan="1">
            <button mat-flat-button color="primary" (click)="isCreandoRepo=true"><mat-icon>library_add</mat-icon> Nuevo
                repositorio</button>
            <div class="card" *ngFor="let rep of listaRepositorios">
                <h3>{{rep.nombre.replaceAll('_', ' ')}}</h3>
                <h5>{{rep.descripcion}}</h5>
                <div class="botonera" style="display: flex; gap: 1rem;">
                    <button mat-flat-button (click)="mostrarArchivos(rep)" color="primary">Mostrar</button>
                    <button mat-flat-button color="warn" (click)="onDelete(rep)">Eliminar</button>
                </div>
            </div>
        </mat-grid-tile>
        <mat-card *ngIf="repositorioActual === 0 || isCreandoRepo">
            <mat-card-content>
                <mat-card-title>Selecciona un repositorio para ver su contenido</mat-card-title>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="isCreandoRepo" style="margin-top: 5rem;" (after-if)="vaciarListas()">
            <mat-card-content>
                <mat-card-title style="margin-bottom: 1rem;">Nuevo repositorio</mat-card-title>
                <form [formGroup]="repositoriosForm" (ngSubmit)="onSubmit($event)">
                    <mat-form-field appearance="outline">
                        <mat-label>Título</mat-label>
                        <input matInput formControlName="titulo">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput formControlName="descripcion"></textarea>
                    </mat-form-field>

                    <button type="button" mat-raised-button (click)="fileInput.click()" color="primary">Seleccionar
                        archivos</button>
                    <input hidden formControlName="archivos" (change)="onFileSelected($event)" #fileInput type="file" multiple>
                    <mat-list>
                        <mat-list-item *ngFor="let file of selectedFiles">{{file.name}}</mat-list-item>
                    </mat-list>
                    <button mat-flat-button type="submit">Crear repositorio</button>
                </form>
            </mat-card-content>
        </mat-card>
        <mat-grid-tile colspan="3" *ngIf="!isCreandoRepo && repositorioActual !== 0">
            <h1>{{repositorioActualNombre.replaceAll("_", " ")}}</h1>
            <div class="files">
                <div class="file-card" *ngFor="let file of listaArchivos">
                    <mat-checkbox (change)="addSelectedFile($event, file)"></mat-checkbox>
                    <mat-icon>{{file.filename.split(".")[1].toLowerCase() == 'jpg' || file.filename.split(".")[1].toLowerCase() == 'jpeg' || file.filename.split(".")[1].toLowerCase() == 'png' ? 'insert_photo' : 'library_books'}}</mat-icon>
                    <span>{{file.filename}}</span>
                    <span style="margin-top: 1rem;"><strong>{{file.fileSize}}</strong></span>
                </div>
            </div>
            <div class="botoneraArchivos">
                <button mat-flat-button color="primary" (click)="downloadFiles()">Descargar</button>
                <button type="button" mat-raised-button (click)="fileInput.click()" color="accent">Agregar</button>
                <input hidden (change)="uploadFiles($event)" #fileInput type="file" multiple>
                <button mat-flat-button color="warn" (click)="onDeleteFiles()">Eliminar</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>