<mat-toolbar color="primary" style="padding: 1rem 0;">
  <mat-toolbar-row>
    <div class="logo-container" (click)="redirectHome()">
      <img src="../../../assets/logo.png" alt="logo">
      <h1>Repositor.io</h1>
    </div>
    <span class="spacer">
      <mat-form-field>
        <input type="text" matInput placeholder="Buscar usuarios, repositorios, etc..." >
        <button matSuffix mat-button color="primary" style="text-align: center;">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </span>
    <div>
      <a mat-button [routerLink]="'/home'"> <mat-icon>house</mat-icon> Inicio </a>
      <a mat-button [routerLink]="'/register'"> <mat-icon>assignment</mat-icon> Crear cuenta </a>
      <a mat-button [routerLink]="'/login'"> <mat-icon>login</mat-icon> Iniciar sesión </a>
      <a mat-button [routerLink]="'/contact'"> <mat-icon>phone</mat-icon> Contacto </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>