.container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-form-field {
    width: 50%;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.2rem;
}

img {
  width: 4rem;
  height: auto;
}

.search-icon {
  cursor: pointer;
}
