.spacer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10%;
  margin: 0 1rem;

  span {
    font-size: xx-large;
  }
}

img {
  width: 4rem;
  height: auto;
}

mat-icon {
  transform: scale(1.6);
}

.links {
  display: flex;
  gap: 1rem;
}
