:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

img {
    width: 30%;
    height: auto;
}