<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-card-title>
                <h1>{{user.username}}</h1>
            </mat-card-title>
            <mat-card-subtitle>
                <h3>{{user.email}}</h3>
            </mat-card-subtitle>
            <div class="content">
                <img mat-card-avatar src="./../../../assets/anonimo.jpeg" alt="profile">
                <div class="info">
                    <mat-list>
                        <mat-list-item>Fecha de alta: {{user.fechaAlta | date:'short'}}</mat-list-item>
                        <mat-list-item>Rol: {{user.rol}}</mat-list-item>
                    </mat-list>
                    <button mat-flat-button color="primary">Editar</button>
                </div>
                <div class="repositorios">
                    <h2>Mis repositorios</h2>
                    <mat-list>
                        <mat-list-item *ngFor="let rep of listaRepos" lines="3" (click)="openRepo()">
                            <mat-icon matListItemIcon>folder</mat-icon>
                            <span matListItemTitle>{{rep.nombre}}</span>
                            <span matListItemLine>{{rep.descripcion}}</span>
                        </mat-list-item>
                    </mat-list>
                </div>
                <!-- <div class="seguidores-seguidos">
                    <h2>Mis repositorios</h2>
                    <mat-list>
                        <mat-list-item *ngFor="let s of listaSeguidores" lines="3" (click)="openRepo()">
                            <mat-icon matListItemIcon>account</mat-icon>
                            <span matListItemTitle>{{s.nombre}}</span>
                        </mat-list-item>
                    </mat-list>
                </div> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>