<div class="container">
    <div class="card">
        <div class="text">
            <h1><span>Crea</span> repositorios, <span>sube</span> tus archivos y <span>accede</span> a ellos
                <span>desde</span> y <span>cuando quieras</span>
            </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iste quibusdam adipisci unde harum optio, perferendis provident minus magnam, consectetur deserunt. Voluptatum modi corrupti quaerat ipsa libero accusamus, hic similique.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iste quibusdam adipisci unde harum optio, perferendis provident minus magnam, consectetur deserunt. Voluptatum modi corrupti quaerat ipsa libero accusamus, hic similique.</p>
            <p>¿No sabes por dónde comenzar? <button mat-flat-button color="primary" routerLink="/register">Crea una cuenta</button></p>
        </div>
        <div class="img">
            <img src="./../../../assets/dev.png" alt="dev image">
        </div>
    </div>
</div>